.container {
        width: 100%;
    }

table {
    font-size: 8pt;
}

@media screen and (min-width: 720px){
    .container {
        width: 1000px;
        font-size:12pt;
    }
    
    table {
        font-size:12pt;
    }
}


p {
    font-size: 10pt;
    text-align:center;
}



a.link {
    text-decoration: underline;
    color: blue;
}